.tic-tac-toe {
    width: 300px;
    margin: 50px ;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 300px);
    margin-left: 17%;
  }
  .tic-tac-toe div {
    border: 2px solid #4b2626;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    cursor: pointer;
    background-color: rgb(202, 199, 199);
  }
  .winner {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }