body {
    background-color: #818080;
    color: #fff;
}

.card {
    background-color: #dcdcdc;
    border-radius: 10px;
    height: 70vh;
    box-shadow: 0 4px 8px rgba(37, 37, 37, 0.5); 
    justify-items: center;
    
}

.ContactInfo{
    padding-right: 15%;
    
}

.AddressInfo{
    padding-left: 15%;
    

}

#profilePic {
    border: 2px solid #fff;
}

h5 {
    color: #aaa;
}

button {
    background-color: #007bff;
    border-color: #007bff;
}

button:hover {
    background-color: #0056b3;
    border-color: #004085;
}
