body {
  background-color: #000;
  color: white;
  font-family: "Helvetica", sans-serif;
}

#results {
  margin-top: 20px;
}

.card {
  background-color: #2c2c2c;
  border: none;
  color: white;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(252, 252, 252, 0.2); 
}

.card img {
  border-radius: 5px;
}


body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3rem;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  padding-left:  5%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.input-group input {
  background-color: #333;
  color: white;
  border: 1px solid #555;
}

.input-group input::placeholder {
  color: #aaa;
}

.input-group .btn {
  background-color: #1DB954;
  border-color: #1DB954;
}

.input-group .btn:hover {
  background-color: #17a44f;
}


footer {
  position: relative;
  width: 100%;
}


#searchButton {
  background-color: aqua;
  
}